<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bulma/bulma.css">
    <title>Document</title>
</head>

<body>
    <div style="width: 500px;" class="container">
    <h1 class="has-text-black has-text-weight-bold has-text-centered is-size-1">LOGIN</h1>
    <form class="box has-background-info-light" action="check-user" method="POST">
        <div class="field">
          <label class="label">USERNAME</label>
          <div class="control">
            <input class="input" name="username" type="username" placeholder="e.g. geliee@example.com" />
          </div>
        </div>

        <div class="field">
          <label class="label">PASSWORD</label>
          <div class="control">
            <input class="input" name="password" type="password" placeholder="*******" />
          </div>
        </div>
      <div class="has-text-centered">
        <button class="button is-primary has-background-info-dark"><a class="has-text-black" href="employee_list.html">LOGIN</a></button>
    </div>
      </form>
    </div>
      
</body>
</html>

